<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link th:href="@{/css/bootstrap.min.css?v=3.3.6}" rel="stylesheet">
    <link th:href="@{/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css?v=201906101454}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.css?v=4.4.0}" rel="stylesheet">
    <link th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/jsTree/style.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/jqTreeGrid/jquery.treegrid.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/summernote/summernote-0.8.8.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/chosen/chosen.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/formSelects/formSelects-v4.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css}" rel="stylesheet">

    <link th:href="@{/css/animate.css}" rel="stylesheet">
    <link th:href="@{/css/style.css?v=4.1.0}" rel="stylesheet">
</head>
<div th:fragment="footer">
    <script type="text/javascript" th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>

    <!--JQUERY插件-->
    <script type="text/javascript" th:src="@{/js/plugins/colorpicker/bootstrap-colorpicker.min.js?v=201906101454}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/jsTree/jstree.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/jqTreeGrid/jquery.treegrid.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/jqTreeGrid/jquery.treegrid.extension.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/jqTreeGrid/jquery.treegrid.bootstrap3.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/chosen/chosen.jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/summernote/summernote.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/summernote/summernote-zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/art-template/art-template.js}"></script>

    <script type="text/javascript" th:src="@{/js/lodash.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootdo.js}"></script>
    <script type="text/javascript" th:src="@{/js/content.js?v=1.0.0}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-util.js}"></script>
    <!--formselect-->
    <!--<script src="/js/plugins/formSelects/formSelects-v4.js" th:src="@{/js/plugins/formSelects/formSelects-v4.js}"></script>-->
    <!-- vue -->
    <script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
</div>
