<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.august.thymelef.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.august.thymelef.domain.Message">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="type" property="type"/>
        <result column="state" property="state"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, title, content, type, state, create_time AS time, last_update_time AS updateTime
    </sql>
    <update id="ready">
        update
        t_message
        set
        state = 1
        where
        id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="readyAll">
        update
        t_message
        set
        state = 1
        where
        user_id = #{userId}
        <if test="type != null">
            and type = #{type}
        </if>
    </update>

    <select id="list" resultType="com.august.thymelef.domain.Message">
        select * from
        t_message
        where
        user_id = #{userId}
        <if test="type != null">
            AND type = #{type}
        </if>
        order by create_time desc
    </select>

    <select id="selectByUserIdAndType" resultType="com.august.thymelef.domain.Message">
        select * from
        t_message
        where
        user_id = #{userId}
        AND type = #{type}
        AND state = 0
        order by create_time desc
    </select>
    <select id="selectByUserIdAndState" resultType="com.august.thymelef.domain.Message">
        select * from
        t_message
        where
        user_id = #{userId}
        AND state = #{state}
    </select>
</mapper>
