<!DOCTYPE html>
<html>
<header th:replace="template/include :: header('设置我的资料')">header</header>
<body>


<div th:include="template/include :: footer"></div>
<script>
    layui.config({
        base: '' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'laypage'], function () {
        var laypage = layui.laypage;

        laypage.render({
            elem: 'LAY-template-search-page'
            , count: 66
            , jump: function (obj, first) {
                if (!first) {
                    layer.msg('第' + obj.curr + '页');
                }
            }
        });
    });
</script>
</body>
</html>