<!DOCTYPE html>
<html>
<header th:replace="template/include :: header('消息详情')">header</header>
<body>

<div class="layui-fluid" id="LAY-app-message-detail">
    <div class="layui-card layuiAdmin-msg-detail">
        <script type="text/html" template lay-url="{{ layui.setter.base }}json/message/detail.js?id={{ layui.router().search.id }}">
            <div class="layui-card-header">
                <h1>{{ d.data.title }}</h1>
                <p>
                    <span>{{ layui.util.timeAgo(d.data.time) }}</span>
                </p>
            </div>
            <div class="layui-card-body layui-text">
                <div class="layadmin-text">
                    {{ d.data.content }}
                </div>

                <div style="padding-top: 30px;">
                    <a href="javascript:;" layadmin-event="back"
                       class="layui-btn layui-btn-primary layui-btn-sm">返回上级</a>
                </div>
            </div>
        </script>
    </div>
</div>

<div th:include="template/include :: footer"></div>
<script>
    layui.config({
        base: '' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index']);
</script>
</body>
</html>